alembic
fastapi
uvicorn
python-dotenv
anthropic
pydantic[email]
email-validator
sqlalchemy
psycopg2-binary
reportlab
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
redis

pytest
pytest-asyncio
httpx
